<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>2.2.3 copyright 2003-2015, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>TerminalCommander Help</string>
	<key>CFBundleHelpBookName</key>
	<string>TerminalCommander Help</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.TerminalCommander</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.3</string>
	<key>CFBundleVersion</key>
	<string>2.2.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2003-2015, Tetsuro KURITA</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<true/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>544</real>
		<key>savedFrame</key>
		<string>22 239 706 639 0 0 1440 878 </string>
		<key>selectedTabView</key>
		<string>event log</string>
	</dict>
</dict>
</plist>
