<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>2.3.1 copyright 2003-2016, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>TerminalCommander Help</string>
	<key>CFBundleHelpBookName</key>
	<string>TerminalCommander Help</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.TerminalCommander</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.1</string>
	<key>CFBundleVersion</key>
	<string>2.3.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2003-2016, Tetsuro KURITA</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<true/>
		<key>bundlePositionOfDivider</key>
		<real>0.0</real>
		<key>dividerCollapsed</key>
		<true/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>291</real>
		<key>savedFrame</key>
		<string>262 138 706 681 0 0 1440 877 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
