<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>2.1.2 copyright 2003-2011, Tetsuro KURITA</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2003-2011, Tetsuro KURITA</string>
	<key>CFBundleVersion</key>
	<string>2.1.2</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.2</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.TerminalCommander</string>
	<key>CFBundleHelpBookFolder</key>
	<string>TerminalCommanderHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>TerminalCommander Help</string>
</dict>
</plist>
